/**
 * Allows you to change the default type name from .o-type-.
 *
 * Type: String
 */

$iota-objs-type-namespace: 'type-';


/**
 * Allows you to specify typography sizes.
 *
 * Type: Map
 */

$iota-objs-type-sizes: (
  label: (14px, 22px),
  item: (16px, 22px),
  h1: (32px, 34px),
);


@import 'node_modules/iotacss/objects/type';
