/**
 * Color names
 *
 * Type: Map
 */

$iota-utils-color-names: (
  light-grey: #D1D1D6,
);


/**
 * Namespace classes
 *
 * Type: String
 */

$iota-utils-color-namespace: 'color-';


@import 'node_modules/iotacss/utilities/color';
